go 1.22.0

use (
    battle-server-broadcast
	launcher-agent
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	common
	server-genCert
	launcher
	launcher-common
	server
)

replace github.com/luskaner/aoe2DELanServer/common v0.0.0-20240816182051-6f3ed50dd7fe => ./common
replace github.com/luskaner/aoe2DELanServer/launcher-common v0.0.0-20240816183217-3f5c7feda584 => ./launcher-common
replace github.com/luskaner/aoe2DELanServer/battle-server-broadcast v1.2.0 => ./battle-server-broadcast