go 1.22.0

use (
	launcher-agent
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	common
	server-genCert
	launcher
	launcher-common
	server
)

replace github.com/luskaner/aoe2DELanServer/common v0.0.0-20240803175212-482443b3f0c7 => ./common
replace github.com/luskaner/aoe2DELanServer/launcher-common v0.0.0-20240803181101-bd67ef728e1f => ./launcher-common
replace github.com/luskaner/aoe2DELanServer/battle-server-broadcast v1.2.0-rc.7 => ./battle-server-broadcast