go 1.26.0

toolchain go1.26.8

godebug (
	// Always use native DNS resolver, otherwise unexpected IPs may be returned
	netdns=cgo
	// Necessary for launcher-config's internal.readCertsFromFile
	x509negativeserial=1
)

use (
	./config-helper
	./tools/mock/battle-server
	./tools/mock/game
	./tools/mock/launcher
	battle-server-broadcast
	battle-server-manager
	common
	launcher
	launcher-agent
	launcher-common
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	server
	server-genCert
	tools/scripts
	tools/server-replay
)

replace github.com/luskaner/ageLANServer/battle-server-broadcast v1.3.2 => ./battle-server-broadcast
