go 1.22.0

use (
    battle-server-broadcast
	launcher-agent
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	common
	server-genCert
	launcher
	launcher-common
	server
)

replace github.com/luskaner/aoe2DELanServer/common v0.0.0-20240823210737-15135a23d3e1 => ./common
replace github.com/luskaner/aoe2DELanServer/launcher-common v0.0.0-20240823213400-58e0feedf3b5 => ./launcher-common
replace github.com/luskaner/aoe2DELanServer/battle-server-broadcast v1.2.1 => ./battle-server-broadcast