go 1.22.0

use (
	common
	server-genCert
	server
)

replace github.com/luskaner/aoe2DELanServer/common v0.0.0-20240918220359-d75d77863d57 => ./common
replace github.com/luskaner/aoe2DELanServer/launcher-common v0.0.0-20240918225240-55697d48fe22 => ./launcher-common
replace github.com/luskaner/aoe2DELanServer/battle-server-broadcast v1.2.1 => ./battle-server-broadcast